<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About my site</title>
</head>
<body style="background-color: green;">
{%extends 'base.html'%}
{%block content%}
<h1 style="color: white;background-color: black;">Biz haqimizda</h1>

      <div class="container">
            <div class="container1 boy"></div>
                        <div class="container2">1</div>
            <div class="container3" bgcolor="red">2</div>
            <div class="container4">3</div>
            <div class="container5">+</div>
            <div class="container6">4</div>
            <div class="container7">5</div>
            <div class="container8">6</div>
            <div class="container9">-</div>
            <div class="container10">7</div>
                        <div class="container11">8</div>
            <div class="container12">9</div>
            <div class="container13">*</div>
            <div class="container14">C</div>
            <div class="container15">0</div>
            <div class="container16">=</div>
            <div class="container17">/</div>


      </div>
{%endblock content%}
</body>
</html>